<!DOCTYPE html>
<head>
    <title>Yelp Camp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Yelpkaempfen</a>
            </div>
            <div class="nav navbar-nav collapse navbar-collapse justify-content-end">
                <% if(!currentUser){ %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Sign Up</a>
                <% } else { %>
                    <a class="nav-link" href="#">Loged in as <%= currentUser.username %></a>
                    <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </nav>