<% include partials/header %>

    <div class="container">
        <a href="/campgrounds">Go back to campsites page.</a>
        <div class="row">
            <h1>Add a new campsite!</h1>
            
            <form action="/campgrounds" method="POST">
                <input class="form-control" type="text" name="site" placeholder="Name of Campsite">
                <input class="form-control" type="text" name="url" placeholder="Copy, paste img URL here">
                <button class="btn btn-lg btn-default">Submit</button>
            </form>
        </div>
    </div>
<% include partials/footer %>